# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence

stages:
  - test

include:
- template: Security/SAST.gitlab-ci.yml

sast:
  stage: test

django32:
  image: python:3.8
  stage: test
  before_script:
    - echo "deb http://security.debian.org/debian-security stretch/updates main" | tee -a /etc/apt/sources.list.d/openjdk.list
    - echo "deb https://packages.cloud.google.com/apt cloud-sdk main" | tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
    - curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add -
    - apt-get update
    - apt-get -y install openjdk-11-jdk google-cloud-sdk google-cloud-sdk-app-engine-python google-cloud-sdk-datastore-emulator
    - pip install django==3.2
    - django-admin.py startproject --template . --extension py,yaml,md myproject
    - cd myproject
    - pip install -r requirements.txt
    - pip install -r requirements-dev.txt
  script:
    - python manage.py check
    - python manage.py test

