{% load static %}
<div class="collapsible-header">
    <i class="material-icons">
        <img class="circle responsive-img" src="{% static 'picture/sowore.jpg' %}">
    </i>Omoyele Sowore - African Action Congress (AAC)
</div>
<div class="collapsible-body">
    <div>
        <p>The manifesto is titled "Mainfesto of African Action Congress (AAC)" by the AAC's presidental
            candidate Omoyele Sowore. The manifesto pledges: </p>
    </div>
    <div>
        <h5>Security</h5>
        <ul class="browser-default">
            <li>Niger Delta Militancy - Our government will remain supportive of the amnesty program with a view towards
                emphasising the creation of sustainable job opportunities for participants. </li>
            <li>Boko Haram - We will intensify the war against Boko Haram. We will ensure that morale is restored within
                the ranks of the military</li>
            <li>General Security - We must strengthen our emergency readiness through the provision of adequate
                resources and training. We must enhance our ability to prevent and prosecute crimes using technology
            </li>
        </ul>
    </div>
    <div>
        <h5>Unemployment</h5>
        <ul class="browser-default">
            <li>We will create five million new jobs in infrastructure development, healthcare, education, technology,
                manufacturing and agriculture sectors. </li>
            <li>Our policies will leverage technology for growth, promote and empower small businesses, and strengthen
                local manufacturing.</li>
            <li>We will support the emergence of globally relevant software and ICT technology markets in Nigeria and
                create industrial and technology hubs to power the emergence of our nation as a major centre for
                technological innovation.</li>
            <li>Major investments in electric power generation, housing, road construction, and rail expansion will be
                integrated into our economy and job growth programs. </li>
        </ul>
    </div>
    <div>
        <h5>Healthcare</h5>
        <ul class="browser-default">
            <li>The goals of our health care policy are to enhance access and improve quality of health care in Nigeria.
            </li>
            <li> Our government will immediately deploy 160,000 new primary health care workers across Nigeria's 774
                local government areas. This will ensure that each LGA has at least about 207 new primary health care
                personnel</li>
            <li>We will evaluate the following additional means for funding healthcare based on contributions from the
                private sector and religious organizations</li>
            <li>We will urgently review the Family Health curriculum and set minimum certification requirements that
                will ensure that no private clinic should be providing primary care without their personnel being
                rigorously trained first.</li>
            <li>Bringing our teaching hospitals to international standards. High minimum health delivery standards must
                be established, and traning must cover functional medical skills and ethical matters</li>
            <li>Reform the National Health Insurance Scheme - working with all stakeholders in the healthcare sector, we
                will institute urgent reforms that will assure high quality access to enrolless and ensure that
                providers are fairly rewarded for all services rendered.</li>
        </ul>
    </div>
    <div>
        <h5>Education</h5>
        <ul class="browser-default">
            <li>We will restore vocational training and instructional institutions to provide required technical skills
                for a growing economy as well as to offer a viable alternative career path for our youth and children.
            </li>
            <li>Our government’s educational sector programs aim for full enrolment for all children at the primary and
                secondary school level, integration of almajirai institutions into the mainstream educational system,
                provision of sufficient and adequate funding for schools, restoration of high standards in the
                educational system through the strict enforcement of inspectorate oversight and national performance
                benchmarks for students and teaching staff, investment in research & development and utilisation of
                universities and other tertiary institutions for driving economic growth through research and
                innovation. </li>
            <li>Invest in research & development and utilize universities and other teritary institutions for driving
                economic growth through innovation</li>
            <li>Restore high standards in the educational system through the strict enforcement of inspectorate
                oversight and national performance benchmarks for students and teaching staff</li>
        </ul>
    </div>
    <div>
        <h5>Economy</h5>
        <ul class="browser-default">
            <li>Leveraging Technology for Growth - We will support the emergence of globally relevant software and ICT
                technology markets in Nigeria.
                Nigeria will be positioned as the next hub for Applications development and technology support services.
            </li>
            <li>Promoting small businesses - We will promote small business enterprises through: provision of affordable
                loans, development of a small business innovation fund that will provide upt to N 1Million in
                non-dilutiveequity funding for
                breakthrough ideas, provision of training for small businesses through partnerships with buisness
                schools and the establishment of mentorship programs, support of small business enterprises through tax
                breaks and other incentives</li>
            <li>Strengthening the manufacturing sector - While we will encourage Continental Global Agreements that
                promote trade across nations, we will ensure that the Nigeria manufacturer and the Nigeria economy get a
                fair deal out of any trans national trade
                agreements.</li>
        </ul>
    </div>
    <div class="manifesto_learn_more">
        <p>Learn more about AAC's manifesto
            <a href="https://sowore2023.org/wp-content/uploads/2022/04/AAC-MANIFESTO-WebReady.pdf" target="_blank">Read
                More <i class="tiny material-icons">launch</i></a>
        </p>
    </div>
</div>