{% load static %}
<div class="collapsible-header">
    <i class="material-icons">
        <img class="circle responsive-img" src="{% static 'picture/bolatinubu.jpg' %}">
    </i>Bola Ahmed Tinubu - All Progressives Congress (APC)
</div>
<div class="collapsible-body">
    <div>
        <p>The manifesto is titled "Renewed Hope 2023 - Action Plan for a Better Nigeria" by the APC's presidental
            candidate Bola Ahmed Tinubu. The manifesto pledges: </p>
    </div>
    <div>
        <h5>Security</h5>
        <ul class="browser-default">
            <li>
                Bolster Our Security Forces - Our administration will accelerate the reforms commenced under the present
                administration in building a more robust, re-energised armed forces. As such, we shall recruit, train
                and better equip additional military, police, paramilitary
                and intelligence personnel.
            </li>
            <li>
                Redefine Military Doctrine and Practice - highly trained and disciplined anti-terrorist battalions
                (ABATTS) with special forces units will be
                created, modernise our Armed Forces by ensuring that our weapons systems (land, sea and air) are capable
                of
                addressing current and anticipated security threats in the modern world, focus our efforts on
                taking greater advantage of our aerial superiority to both deter as well as swiftly respond to attacks
                by terrorists,
                kidnappers and bandits and address the welfare concerns of frontline military and security personnel.
            </li>
            <li>Secure Critical National Infrastructure - We shall combine increased aerial surveillance over land and
                sea with other cutting edge technology that will provide
                instant notification ofintrusions or disruptions of oil pipelines and related installations
            </li>
            <li>Peaceful Communities, Secure Borders, Safe Forests - Our government will work in close collaboration
                with State Governments and the National Assembly,
                to enact measures necessary to secure and protect communities from criminal violence, particularly
                kidnapping and terrorism. We shall revitalise Ranger or ForestGuard force, giving it the
                core mandate to monitor, identify, and track the use of our forests by any violent or criminal groups.
            </li>
            <li>International Collaboration - Our government will prioritise collaborations with key neighbouring
                countries,international partners, and allies
                to ensure the safety of Nigerians. </li>
            <li>Reposition The Police - We shall boost the public confidence in the Nigeria Police Force and other
                internal security agencies by increasing recruitment and providing high-tech, non-lethal equipment with
                corresponding manpower development schemes.</li>
        </ul>
    </div>
    <div>
        <h5>Unemployment</h5>
        <ul class="browser-default">
            <li>Our administration shall aim to cut the youth unemployment rate in half within four years. </li>
            <li>Easy access to credit: Work with the CBN to develop suitable incentives to encourage commercial banks to
                target
                low-cost loans towards a given quota of youth-led enterprises. </li>
            <li>Business mentorship for youth: Increase intergenerational, business mentoring and
                cooperation with 2 million volunteer Entrepreneurs and professionals across the nation committed to
                working with youth to find employment, hone job skills
                and create businesses.</li>
            <li>
                NYSC Reform: Strengthen a job matching programme for graduates by reforming the NYSC program to enable
                more participants to enter the private sector
            </li>
            <li>
                A Tinubu government will expand existing programs and introduce new social investment policies to create
                jobs and business opportunities, particularly for youth and women.
            </li>
            <li>
                A Tinubu administration will strive to create one million new jobs in the Information and
                Communications Technology (ICT) sector within its first 24 months in office.
            </li>
        </ul>
    </div>
    <div>
        <h5>Healthcare</h5>
        <ul class="browser-default">
            <li>
                Political and institutional foundations for the achievement of the Universal Health Coverage agenda must
                be implemented.
            </li>
            <li>
                We will implement policies to ensure that all services in federal government
                hospitals are high-quality, people-centred and delivered in accordance with best
                industry practice.
            </li>
            <li>
                Tinubu administration will facilitate the upgrading, equipping and staffing of a
                general hospital in every Local Government Area, a tertiary facility in each State and a world-class
                specialist
                hospital in each geo-political zone.
            </li>
            <li>
                We will also expand publicsector driven mandatory health insurance coverage while augmenting the
                financial
                mechanism such as the Basic Health Care Provision Fund and Vulnerable Group Fund to cover vulnerable
                populations.
            </li>
            <li>
                We will embark on a focused manpower plan to increase the number, and enhance the skill sets, of our
                healthcare
                workers, particularly those working in primary healthcare facilities.
            </li>
        </ul>
    </div>
    <div>
        <h5>Education</h5>
        <ul class="browser-default">
            <li>
                A Tinubu administration will reform the education sector by focusing on the following indices: quality,
                access, funding, management, effectiveness, and competitiveness.
            </li>
            <li>
                We will invest in the infrastructure of our educational institutions and provide adequate resources that
                improve the educational environment in which our children are taught.
            </li>
            <li>
                We will introduce new accreditation requirements for teachers in federally funded primary and secondary
                schools.
            </li>
            <li>
                We will reform technical and vocational learning institutions to stimulate Nigeria's
                natural entrepreneurial spirit and empower more individuals toward selfreliance. Centres of excellence
                will focus on training students in 21st Century growth industries such as information technology,
                software development, artificial intelligence, and robotics.
            </li>
            <li>
                Students who choose and then excel in STEM courses will be given priority for scholarships, internships,
                graduate school
                admissions, and employment.
            </li>
        </ul>
    </div>
    <div>
        <h5>Economy</h5>
        <ul class="browser-default">
            <li>
                Under our government, our cities and towns will witness a level of industrial activity unprecedented in
                our nation’s history.
            </li>
            <li>
                We will improve existing industries and sectors. We will be brave and innovative enough to see how new
                economic vistas powered by today’s technology can create jobs and provide goods and services that will
                propel us toward greater prosperity and development.
            </li>
            <li>
                The allocation of revenue between the federal and state governments will be adjusted to give states
                greater flexibility to foster grassroots economic development.
            </li>
            <li>
                We will build an economy that produces more of the everyday items, both
                agricultural and manufactured goods, that define an individual’s and a nation’s
                standard of living.
            </li>
            <li>We must curb our reliance on imported goods. </li>
            <li>A Tinubu government shall deploy the same skills and expertise used in Lagos
                State to generate record levels of internally generated revenue, create
                wealth and attract investment.
            </li>
        </ul>
    </div>
    <div class="manifesto_learn_more">
        <p>Learn more about the APC's manifesto
            <a href="https://www.bolatinubu.com/manifesto/renewed_hope-2023.pdf" target="_blank">Read
                More <i class="tiny material-icons">launch</i></a>
        </p>
    </div>
</div>