{% load static %}

<div class="collapsible-header">
    <i class="material-icons">
        <img class="circle responsive-img" src="{% static 'picture/peterobi.jpeg' %}">
    </i>
    <div class="title">Peter Obi - Labour Party</div>
    <i class="medium material-icons">expand_more</i>
</div>
<div class="collapsible-body">
    <div>
        <p>The manifesto is titled "Prospects of Transformative Governance In Nigeria" by the Labour's presidental
            candidate <b>Peter Obi</b>. The manifesto promises: </p>
    </div>
    <div>
        <h5>Security</h5>
        <ul class="browser-default">
            <li>Provide security for lives and properties</li>
            <li>Social security for the aged, the unemployed and the people with disabilities.</li>
            <li>Ensuring that national cohesion, peace, security, stability and prosperity shall be the collective
                concern of every citizen.</li>
            <li>Provide security</li>
        </ul>
    </div>
    <div>
        <h5>Unemployment</h5>
        <ul class="browser-default">
            <li>Create mass employment opportunities and continually expand same</li>
            <li>The Party shall pursue poverty eradication programme more systematically and patriotically, with
                economic empowerment and the realization of the promise of greater employment, the vicious phenomenon of
                poverty, which makes the electorate susceptible to corrupt, will be broken.
            </li>
            <li>Adopt and develop policies and programmes that create more employment opportunities in the public and
                private sectors for our youths</li>
            <li>Full employment of employable citizens</li>
        </ul>
    </div>
    <div>
        <h5>Healthcare</h5>
        <ul class="browser-default">
            <li>Place emphasis on the provision for preventive and curative health care by making
                primary health care the main focus of the National Health Policy and the National Health
                Delivery Service</li>
            <li>Provide free medical consultation to children, aged and other vulnerable groups like the
                physically challenged.</li>
            <li>Build and equip hospitals, most especially tertiary health institutions through the
                acquisition and maintenance of medical equipment and upgrading of training for medical and
                paramedical staff.</li>
            <li>Encourage continuous exchange and cross- fertilization of ideas between orthodox and
                traditional medical practitioners with a view’ to achieving a more effective health care
                delivery.</li>
            <li>Create enabling environment for the establishment of more health facilities by private
                individuals and the private sector to support and complement the effort of government.</li>
            <li>Introduce a legislation for the rehabilitation of destitute and the physically challenged
                persons by providing and encouraging them to seek gainful employment and decent and
                accessible accommodation.</li>
            <li>Ensure efficient management of the Drug Revolving fund and to sustain the drive against fake
                drugs and extend health facilities to the rural areas.</li>
        </ul>
    </div>
    <div>
        <h5>Education</h5>
        <ul class="browser-default">
            <li>Basic Education: The party shall devote attention at the highest levels of government to the
                revival of the national education system with a view to achieving universal free primary,
                secondary education and establish a special school for disables.</li>
            <li>Create more schools for girls in science and technology and encourage NGO’s to
                stimulate interest in scientific courses for women.</li>
            <li>Make compulsory and free, primary and secondary education for all Nigeria
                children between the ages of 6 and 18 years.</li>
            <li>Ensure that funding of primary education is the responsibility of the Federal government
                while funding of secondary education should be the responsibility of the states with the
                exception of unity schools, which should be funded by the federal government. The curriculum
                content and delivery of public and private education institutions shall be standardized by
                the Labour Party to address presently existing discriminatory standards, particularly with
                the delivery of quality education. This would entail the strengthening of existing
                regulatory bodies and the establishment of a coordinating mechanism for these bodies.</li>
            <li>Higher Education: The Party shall invest in teaching and research facilities in the
                technical colleges, polytechnics and universities as well as in student accommodation and
                welfare to provide a more conducive learning environment. Investment in the country’s
                educational sector would play a determinant role in the quality and quantity of human
                resources available to be mobilized for the country’s economic recovery and growth.</li>
            <li>Provide grants, loans and scholarships for the needy and gifted students; provide
                basic infrastructure and support research</li>
        </ul>
    </div>
    <div>
        <h5>Economy</h5>
        <ul class="browser-default">
            <li>The Party shall strive to build a strong economy that would transform the country from the
                present state of under development. The Party shall diversify the foundations of the
                Nigerian economy by putting an end to oil dependency, revive manufacturing and agricultural
                sectors and improve the service sector.</li>
            <li>Our Party shall ensure activist developmental role of the state by being a major player in the strategic
                sectors of the economy, namely education, agriculture, industry, petroleum, energy, communications,
                transportation, health-care, commerce and research.</li>
            <li>The party shall engage the
                phenomenon of globalization and liberalization by adopting a step-by-step approach based on the
                country’s national interest.</li>
            <li>The Party shall link its poverty reduction and employment generation strategies to
                the revival of the national productive base.</li>
            <li>Labour Party shall build integrated transport system, which shall ensure the harmonized utilization of
                road and rail transport as well as inland water-ways and aviation for the speedy movement of persons,
                goods and services, necessary for national development.</li>
            <li>The Party shall avoid doctrinaire approach to privatization.</li>
        </ul>
    </div>
    <div class="manifesto_learn_more">
        <p>
            <a class="waves-effect green darken-4 btn"
                href="https://labourparty.com.ng/download-labour-party-manifesto/" target="_blank">Read
                More</a>
        </p>
    </div>
</div>