<div class="container">
    <div>
        <h3>Candidate Manifestos</h3>
        <p class="text-body">
            Some of Nigeria's political parties have announced their election manifestos. Use this manifesto guide to
            compare and understand where the parties stand on important issues such as the economy, education, and
            others to help you decide who to vote for.
        </p>
    </div>
    <ul class="collapsible expandable">
        <li>
            {% include "manifesto/pdp_manifesto.html" %}
        </li>
        <li>
            {% include "manifesto/labour_manifesto.html" %}
        </li>
        <li>
            {% include "manifesto/apc_manifesto.html" %}
        </li>
        <li>
            {% include "manifesto/aac_manifesto.html" %}
        </li>
    </ul>
</div>