<div class="container">
    <div class="md-grid">
        <h3>Who should I vote for? 2023 Nigeria Presidental Election: Compare the party manifestos</h3>
        <p>
            Some of the Nigeria's parties have announced their manifestos for the upcoming election. To help you decide
            who you might vote for, use this manifesto guide to compare and understand where the
            parties stand on important issues such as economy, education and others.
        </p>
    </div>

    <ul class="collapsible expandable">
        <li>
            {% include "manifesto/pdp_manifesto.html" %}
        </li>
        <li>
            {% include "manifesto/labour_manifesto.html" %}
        </li>
        <li>
            {% include "manifesto/apc_manifesto.html" %}
        </li>
        <li>
            {% include "manifesto/aac_manifesto.html" %}
        </li>
    </ul>
</div>