{% load static %}

<div class="collapsible-header">
    <i class="material-icons">
        <img class="circle responsive-img" src="{% static 'picture/atiku-abubakar.jpg' %}">
    </i>
    <div class="title">Atiku Abubakar - People's Democratic Party (PDP)</div>
    <i class="medium material-icons">expand_more</i>
</div>
<div class="collapsible-body">
    <div>
        <p>The manifesto is titled "My Covenant with Nigerians" by the PDP's presidental candidate <b>Atiku
                Abubakar</b>. The
            manifesto promises: </p>
    </div>
    <div>
        <h5>Security</h5>
        <ul class="browser-default">
            <li>
                Re-activate meaningful registration at birth as a way to reduce crime and protect Nigerians
            </li>
            <li>
                Dealing with insurgency using alternative approaches to conflict resolution, such as
                Diplomacy; Intelligence; Improved Border Control; Traditional Institutions; and Good
                neighbourliness
            </li>
            <li>Restructure and Decentralize Security Institutions</li>
            <li>Resolve Militancy Issue in the Niger Delta</li>
            <li>Handle the North East Development Issues</li>
        </ul>
    </div>
    <div>
        <h5>Unemployment</h5>
        <ul class="browser-default">
            <li>
                Target the creation of up to 3 million self and wage-paying employment opportunities in the
                private sector annually</li>
            <li>
                Create incubation centres, clusters and industrial/commercial hubs to provide a market place
                for MSMEs and SMPs
            </li>
            <li>
                Establishing training programmes linked with certain sectors that may lead to full-time
                permanent employment
            </li>
            <li>
                Reduce gradually the rate of unemployment and under-employment to a single digit by 2025
            </li>
        </ul>

    </div>
    <div>
        <h5>Healthcare</h5>
        <ul class="browser-default">
            <li>
                Ensure universal access to basic maternal and child health, reproductive health,
                immunization and mental health as well as effective therapies
            </li>
            <li>
                Ensure a comprehensive reform of the Federal Ministry of Health and its agencies. Ministry
                to focus on policy design, standardization, monitoring and evaluation
            </li>
            <li>
                Accelerate Nigeria’s transition towards achieving universal access to affordable and quality
                healthcare services for all by 2030
            </li>
            <li>
                Expand healthcare professionals to the frontline and attract Nigerian doctors in the
                diaspora to reverse brain-drain
            </li>
        </ul>
    </div>
    <div>
        <h5>Education</h5>
        <ul class="browser-default">
            <li>
                Federal Ministry of Education to focus on its core functions of policy design,
                standardization, monitoring and evaluation
            </li>
            <li>
                Set up an agency for the regulation of private tertiary education
            </li>
            <li>
                Promote an all-inclusive system which will carry along our citizens with special needs
            </li>
            <li>
                Work with the States to carry out far reaching reforms of the system with a view to
                developing a knowledge-driven economy
            </li>
        </ul>
    </div>
    <div>
        <h5>Economy</h5>
        <ul class="browser-default">
            <li>
                A fast-growing and productive non-oil sector economy with strong linkages amongst key
                sectors notably agriculture, manufacturing and MSMEs to strengthen the productive base of
                the economy
            </li>
            <li>
                Intersectoral linkages must be created for resilience and sustainability
            </li>
            <li>
                A commercially driven, technology-proficient and competitive agriculture that will ensure
                food and income security for a growing population and contribute significantly to Nigeria’s
                quest for economic diversification and export of non-oil commodities
            </li>
            <li>
                A manufacturing sector that is competitive, nationally, and globally, looking inwards to
                promote value-addition. This development will be key to reducing informality among MSMEs and
                to linking the rural primary economy to that of the city
            </li>
        </ul>
    </div>
    <div class="manifesto_learn_more">
        <p>
            <a class="waves-effect green darken-4 btn"
                href="https://www.atiku.org/_files/ugd/eef005_4f1d1d33313f4b5abb69493068c04a57.pdf" target="_blank">Read
                More</a>
        </p>
    </div>
</div>