{% extends "base.html" %}
{% load static %}
{% block title %} About {% endblock %}

{% block content %}


<div class="container center-align">
    <h2>About us</h2>
    <p class="text-body">
        We are a Nigerian team dedicated to providing continuous social media analysis of public sentiment toward
        political candidates in the run-up to the 2023 elections. We make it simple to compare candidates' policies on
        key issues so you can better understand where they stand on issues that matter to you. We occasionally conduct
        polls to gauge public opinion, and the results of these polls are shared on the platform.
    </p>
    <div class="about-motto">
        <i>We believe in Nigeria.</i>
    </div>
    <div class="about-img">
        <img class="responsive-img" src="{% static 'picture/nigeria-flag.png' %}" alt="">
    </div>
</div>

{% endblock %}