{% extends "base.html" %}
{% load static %}
{% block title %} About {% endblock %}

{% block content %}


<div class="container center-align">
    <h2>About Us</h2>
    <div class="about-motto">
        <i>We believe in Nigeria.</i>
    </div>
    <p class="text-body">
        We are a Nigerian team dedicated to providing continuous social media analysis of public sentiment toward
        political candidates in the run-up to the 2023 elections. We make it simple to compare candidates' policies on
        key issues so you can better understand where they stand on issues that matter to you. We occasionally conduct
        polls to gauge public opinion, and the results of these polls are shared on the platform.
    </p>
    <div class="about-img">
        <img class="responsive-img" src="{% static 'picture/nigeria-flag.png' %}" alt="">
    </div>
    <p>
        <i>Want to know more? Contact us at <span class="about-email">analytics2324@gmail.com</span></i>
    </p>
</div>

{% endblock %}