{% extends "base.html" %}
{% load static %}
{% block title %} About {% endblock %}

{% block content %}


<div class="container">
    <h2>About us</h2>
    <p>
        We are team of Nigerians dedicated to continuously provide social media analysis of the public sentiment of
        political candidates in
        the run up to the 2023 elections. We provide easy comparison of candidates' policies on key issues so you can
        better understand where they stand on issues affecting you.
        We sometimes gauge public opinions through polling and results of these polling would be shared on the platform.
    </p>
    <i>We believe in Nigeria.</i>
    <br>
    <br>
    <div class="center">
        <img class="responsive-img" src="{% static 'picture/nigeria-flag.png' %}" alt="">
    </div>
</div>

{% endblock %}